/* Variables */

:root {
    --color-texto: #444444; 
    --color-fondo: white;
    --color-hover: rgba(65, 105, 225, 0.9);
    --color-activo: royalblue;
    --color-menu: rgb(51, 51, 57);
}

/* Elementos generales */

body {
    font-family: Montserrat;
    color: var(--color-texto);
    background-color: grey;
}

p {
    /*text-align: justify;*/
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}

p, h1, h2, h3 {
    margin: 1rem 0 1rem 0;
}

a {
    text-decoration: none;
}

small {
    font-weight: normal;
    font-size: 0.8rem;
}

/* Estas MediaQuerys de tipo (hover: hover) son para deshabilitar el hover en dispositivos táctiles, evitando */
/* de este modo que el objeto clickado quede activado */
@media (hover: hover) {
    a:hover {
        color: var(--color-activo);
        font-weight: bold;
    }
}

.oculto {
    display: none;
    opacity: 0;
    transition: all 0.9s linear;
}

/* Botones con iconos */

.fa-stack {
    transition: all 0.2s linear;
    color: var(--color-menu);
}

@media (hover: hover) {
    .fa-stack:hover {
        color: var(--color-hover);
        transition: all 0.2s linear;
    }
}

/* Cabecera */

body > header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 1;
    font-family: Roboto, sans-serif;
    color: var(--color-fondo);
    background-color: var(--color-menu);
    padding: 0 1rem;
    opacity: 0.95;
    margin: 0;   
    box-shadow: 2px 2px 2px black; 
}

body > header > h1 {
    font-weight: 100;
    line-height: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    text-shadow: 2px 2px 8px black;
}

/*** MENÚ ***************/

.menu-principal {
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: 0px;
    min-width: 0px;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: var(--color-fondo);
    background-color: var(--color-menu);
    opacity: 0.95;
    box-shadow: -3px 3px 8px var(--color-texto);
    text-shadow: 2px 2px 4px var(--color-texto);
    z-index: 1;

    transition: all 0.15s linear;
}

.menu-principal ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
}

.menu-principal ul li {
    line-height: 1rem;
}

.menu-principal ul li a {
    right: 1rem;
    width: 100%;
    display: block;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    color: var(--color-fondo);
    transition: transform 0.15s linear;
}

@media (hover: hover) {
    .menu-principal ul li a:hover {
        background-color: var(--color-hover);
        opacity: 0.9;
        transform: scale(1.1) translateX(0.5rem);
    }
}

.menu-principal ul li a.active {
    background-color: var(--color-activo);
}

.menu-visible {
    width: 40vw;
    transition: all 0.15s linear;
}

/* Botón desplegar/replegar menú */

.menu-icon {
    position: fixed;
    right: 0.5rem;    
    top: 0.3rem;
    z-index: 2;
}

.menu-icon ul li a {
    display: block;
    font-size: 0.7rem;
    color: var(--color-texto);
}


/* SECCIONES **************************************/

main {
    margin-bottom: 0.5rem;
}

main section {
    display: block;
    clear: both;
    margin-bottom: 2rem;
}

main .sections-wrapper {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0.8rem 1.5rem ;
    max-width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #f9f9f9; 
    box-shadow: 3px 3px 8px grey
}

main section > header {
    display: flex;
    margin: 0 0 1.5rem 0;
    width: 103%;
    transform: translateX(-1.5%);
    padding: 0.7rem 1rem;
    border-radius: 3px;
    box-shadow: 3px 3px 8px var(--color-menu);
    color: var(--color-fondo);
    background-color: rgba(51, 51, 57, 0.9);
}

main section > header i {
    font-size: 2rem;
    float: left;
    margin-right: 15px;
}
main section > header h1.titulo {
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 0;
}

main section h2, main section h2 a {
    font-size: 1.2rem;
}

main section ul {
    list-style: disc;
}
main section ul li {
    margin-left: 1.5rem;
    /*text-align: justify;*/
}
main section ul li li {
    margin-left: 2rem;
}

article {
    margin-bottom: 1.5rem;
    clear: both;
}
article p {
    padding-left: 0.5rem;
}

/* PORTADA */

main section.home {
    color: var(--color-fondo);
    height: 100vh;
    background-image: url(./assets/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0.5rem;
    box-shadow: 3px 3px 8px var(--color-menu);
}

main section.home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--color-fondo);
    opacity: 0.15;
}

main section.home header {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    padding: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: none;
}

main section.home header h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
    text-shadow: 3px 3px 3px black;
    animation: titulo-curriculum 1s ease-out;
    animation-fill-mode: forwards;    
}

main section.home header h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    text-shadow: 3px 3px 3px black;
    animation: titulo-nombre 1s ease-out;
    animation-fill-mode: forwards;    
}

@keyframes titulo-nombre {
    0% {
        opacity: 0;
        transform: translateY(-100vh) scale(0);
    }
    50% {
        opacity: 0.1;
        transform: translateY(-50vh) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes titulo-curriculum {
    0% {
        opacity: 0;
        transform: translateX(-100vw) scale(0);
    }
    50% {
        opacity: 0.1;
        transform: translate(-60vw) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

/* Quien soy */

.wrapper-foto {
    position: relative;
}
.wrapper-foto span {
    display: none;
}

.foto-quien-soy {
    display: none;
}
.foto-quien-soy-ampliada {
    height: auto;
    width: 95%;
    box-shadow: 3px 3px 10px #333333;
    border-radius: 5px;
    display: block;
    margin: 2rem auto;
    z-index: 4;
}

video {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 10px #333333;
    border-radius: 5px;
}

/* Experiencia */

span.puesto {
    display: block;
    margin: 0 0 0.5rem 0;
}
span.periodo {
    font-size: 0.9rem;
    color: #999999;
}

/* Contacto */

/* Formulario */

.form-contact {
    display: grid;
    width: 100%;
    grid-gap: 0.8rem;
    grid-template-columns: minmax(23%, 10rem) minmax(auto, 1fr);
}
.form-contact > * {
    align-self: center;
    overflow: hidden;
}
input, select, textarea {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 3px;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    font-size: 1rem;
    grid-column: 2 / 3;
    font-family: Montserrat, sans-serif;
}

.invalido {
    border: 2px solid red;
}
option {
    min-height: 2rem;
}

label {
    align-self: center;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

label.top {
    align-self: flex-start;
    margin-top: 0.5rem;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 2 / 3;
}

.form-contact button {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: var(--color-fondo);
    background-color: var(--color-activo);
    border: 1px solid var(--color-hover);
    border-radius: 3px;
    padding: 0.5rem 1rem;
    outline: none;
    transition: transform 0.15s linear;
}
@media (hover: hover) {
    .form-contact button:hover {
        background-color: var(--color-hover);
        cursor: pointer;
        transform: scale(1.07);
    }
}

/* Opcional: Botón Reset */
/*
button[type="reset"] {
    background-color: rgba(20,90,20,1);
    border: 1px solid rgba(30,120,30,1);
    margin-right: 1rem;
}
button[type="reset"]:hover {
    background-color: rgba(30,120,30,1);
}
*/

/* Footer */

/* Botón ir al inicio */

body > footer {
    background-color: #090909;
    height: 100%;
    margin: 0 auto;
    padding: 0.8rem;
    box-shadow: -2px -2px 10px var(--color-texto);
}
body > footer nav ul.inicio {
    color: black;
    position: fixed;
    bottom: 0.4rem;
    right: 0.4rem;
    z-index: 2;
}
body > footer nav ul.inicio a {
    font-size: 0.7rem;    
    z-index: 4;
}

/* Redes sociales */

ul.redes-sociales {
    display: flex;
    justify-content: center;
    margin: 0;
}
ul.redes-sociales li  {
    margin: 0 0.5rem;
    list-style: none;
}
ul.redes-sociales a span, 
ul.redes-sociales .fa-linkedin,
ul.redes-sociales .fa-github,
ul.redes-sociales .fa-twitter,
ul.redes-sociales .fa-google-plus-g 
{
    font-size: 1.5rem;
}

ul.redes-sciales {
    color: var(--color-fondo);
}

body footer p.copyleft {
    font-size: small;
    color: var(--color-fondo);
    text-align: center;
    margin: 0.5rem 0 0 0;
}

/* Mensaje de Error */

.section-error-message {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: rgba(32, 32, 32, 0.95);
    font-family: Roboto, sans-serif;
    z-index: 0;
    transition: all 0.15s linear;
    opacity: 0;
    
}
.header-error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    color: var(--color-fondo);
    background-color: rgb(243, 92, 92);
    border: 1px solid maroon;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
    text-align: center;
}
.header-error-message h2 {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-right: 3rem;
    font-weight: normal;
    text-shadow: 1px 1px 1px black;
}

.header-error-message button {
    position: absolute;
    cursor: pointer;
    top: 0.4rem;
    right: 0.5rem;
    color: maroon;
    background-color: var(--color-fondo);
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid maroon;
    border-radius: 4px;
    padding: 0.1rem 0.5rem;
}

.error-visible {
    opacity: 1;
    z-index: 3;
}

/* MediaQuery para escritorio, pantallas con resolución mayor a los 900 pixels de ancho */

@media (min-width: 900px) {

    /* Portada */

    body > header {
        height: 3rem;
        width: 100%;
        padding-top: 0;
        background-color: var(--color-menu);
        box-shadow: none;
    }

    /* Menú */

    .menu-principal {
        height: 3rem;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        box-shadow: 4px 1px 10px black;
        width: 100%;
        z-index: 1;
        color: var(--color-fondo);
        font-weight: bold;
        text-shadow: 2px 2px 4px black;
    }
    
    .menu-principal ul {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0;
    }
    
    .menu-principal ul li {
        text-transform: inherit;
    }
    .menu-principal ul li a {
        right: 1rem;
        display: block;
        padding: 1rem 1rem;
        font-size: 1.1rem;
        font-weight: lighter;
        color: var(--color-fondo);
    }
    @media (hover: hover) {
        .menu-principal ul li a:hover {
            background-color: rgba(65, 105, 225, 0.8);
            opacity: 0.9;
            transform: scale(1.1);
        }
    }

    /* botón desplegar/replegar menú */

    .menu-icon {
        display: none;
    }

    /* wrapper de las secciones */

    main .sections-wrapper {
        width: 75%;
        max-width: 900px;
    }

    video {
        width: 50%;
        height: auto;
        float: right;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        box-shadow: 3px 3px 10px #333333;
        border-radius: 5px;
    }
    
    /* Formulario */

    .form-contact {
        grid-gap: 0.7rem;
    }
    .form-contact button {
        padding: 0.5rem 2rem;
    }

    .wrapper-foto {
        position: relative;
        cursor: pointer;
    }
    .wrapper-foto span {
        display: inline;
        position: absolute;
        left: 0.2rem;
        top: 0.2rem;
        color: var(--color-texto);
        font-size: 1rem;
    }
    
    .foto-quien-soy {
        display: block;
        float: left;
        width: 40%;
        min-width: 150px;
        margin-right: 2rem;
        margin-bottom: 2rem;
        box-shadow: 3px 3px 10px #333333;
        border-radius: 5px;
        transition: all 0.15s linear;
    }
    .foto-quien-soy-ampliada {
        display: none;
    }
    .ampliada {
        height: auto;
        width: 100%;
        z-index: 4;
        transition: all 0.15s linear;
    }
}

/* Media Query para pantallas muy pequeñas */
@media (max-width: 359px) {
    p, a, h2, h2 a, span, label, input, select, textarea,
    main section ul li, 
    main section ul li li {
        font-size: 0.8rem;
    }
    .fa-stack-1x {
        position:absolute;
        bottom:0.3rem;
    }
    .fa-stack-2x {
        font-size: 1.5em;
    }
    body > header > h1 {
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    body > footer nav ul.inicio {
        bottom:0 ;
        right: 0.2rem;
    }
    main section > header h1.titulo {
        font-size: 1.2rem;
    }
    .menu-icon {
        right: 0.1rem;
    }
    .menu-principal ul li a {
        font-size: 0.9rem;
        padding: 0.3rem 1rem;
        transform: scale(1.1) translateX(0.2rem);
    }
    @media (hover: hover) {
        .menu-principal ul li a:hover {
            transform: scale(1.2) translateX(0.2rem);
        }
    }
    main section h2 {
        font-size: 1rem;
    }
    main section.home header h1 {
        font-size: 1rem;
        margin-bottom: 0;
    }
    main section.home header h2 {
        font-size: 1.2rem;
        margin-top: 0;
    }
    span.periodo {
        font-size: 0.7rem;
    }    
    input, textarea, select {
        overflow: hidden;
    }
    .form-contact button {
        font-size: 0.8rem;
    }

    body footer p.copyleft {
        font-size: 0.6rem;
    }    
}

