/* Variables */

:root {
    --color-texto: #444444; 
    --color-fondo: white;
    --color-hover: rgba(65, 105, 225, 0.9);
    --color-activo: royalblue;
    --color-menu: #333339;
}
body {
    font-family: Montserrat;
    color: var(--color-texto);
}

p {
    text-align: justify;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}


p, h1, h2, h3 {
    margin: 10px 0px;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--color-activo);
}

/* Cabecera */

body > header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 3.5rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    color: var(--color-fondo);
    background-color: var(--color-menu);
    padding: 0.5rem 1rem;
    opacity: 0.98;
    margin: 0;   
    box-shadow: 1px 1px 7px var(--color-texto); 
}

body > header > h1 {
    font-weight: 100;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

/* Botones con iconos */

.fa-stack {
    transition: all 0.2s linear;
    color: var(--color-menu);
}

@media (hover: hover) {
    .fa-stack:hover {
        color: var(--color-hover);
        transition: all 0.2s linear;
    }
}
.fa-stack:active {
    color: var(--color-activo);
    transition: all 0.2s linear;
}

/* Botón desplegar/replegar menú */

.menu-icon {
    position: fixed;
    right: 0.5rem;    
    top: 0.3rem;
    z-index: 2;
}

.menu-icon ul li a {
    display: block;
    font-size: 0.7rem;
    color: var(--color-texto);
}

/*** MENÚ ***************/

.menu-principal {
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: 0px;
    min-width: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-menu);
    opacity: 0.95;
    box-shadow: 4px 4px 6px var(--color-texto);
    
    z-index: 1;
    color: var(--color-fondo);
    text-shadow: 2px 2px 4px var(--color-texto);

    display: flex;
    justify-content: center;

    transition: all 0.15s linear;
}

.menu-principal ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
}

.menu-principal ul li {
    line-height: 1rem;
}
.menu-principal ul li a {
    right: 1rem;
    width: 100%;
    display: block;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    color: var(--color-fondo);

    transition: transform 0.15s linear;
}

@media (hover: hover) {
    .menu-principal ul li a:hover {
        background-color: var(--color-hover);
        opacity: 0.9;
        transform: scale(1.1) translateX(0.5rem);
    }
}

.menu-visible {
    width: 45vw;
    transition: all 0.15s linear;
}


/* SECCIONES **************************************/

article {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}
article ul {
    list-style: disc;
}
article ul li {
    margin-left: 1.5rem;
    text-align: justify;
}
article ul li li {
    margin-left: 2rem;
}
aside {
    margin: 0;
}

span.puesto {
    display: block;
    margin: 0 0 0.5rem 0;
}
span.periodo {
    font-size: 0.9rem;
    color: #999999;
}

main {
    margin-bottom: 2rem;
}

section {
    display: block;
    clear: both;
}
main section > header {
    border-bottom: 1px solid grey;
    margin: 2rem 0 1rem 0;
}
main section > header h1.titulo {
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 2rem 0 0.5rem 0;
}

main section h2 {
    font-size: 1.2rem;
}

/* PORTADA */

section.home {
    color: var(--color-fondo);
    height: 100vh;
    background-image: url(./assets/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section.home header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    border: none;
}

.portada-nombre {
    animation: titulo-nombre 1s ease-out;
    animation-fill-mode: forwards;    
}

@keyframes titulo-nombre {
    0% {
        opacity: 0;
        transform: translateY(-100vh) scale(0);
    }
    50% {
        opacity: 0.1;
        transform: translateY(-50vh) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.portada-curriculum {
    animation: titulo-curriculum 1s ease-out;
    animation-fill-mode: forwards;    
}

@keyframes titulo-curriculum {
    0% {
        opacity: 0;
        transform: translateX(-100vw) scale(0);
    }
    50% {
        opacity: 0.1;
        transform: translate(-60vw) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

section.home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--color-fondo);
    opacity: 0.2;
}

section.home h1, section.home h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 4px black;
    line-height: 2rem;
}
section.home header h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
    border: none;
}

section header i {
    font-size: 2rem;
    float: left;
    margin-right: 15px;
}

/* Wrapper para las secciones */

#sections-wrapper {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 90%;
    max-width: 800px;
}

/* Quien soy */

.foto-quien-soy {
    float: left;
    width: 35%;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px 10px #333333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s linear;
}
.foto-ampliada {
    height: auto;
    width: 100%;
    z-index: 4;
    transition: all 0.25s linear;
}

/* Contacto */


/* Formulario */

.form-contact {
    display: grid;
    width: 100%;
    grid-gap: 0.8rem;
    grid-template-columns: minmax(23%, 10rem) minmax(auto, 1fr)
}
.form-contact > * {
    align-self: center;
}
input, select, textarea {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: var(--color-fondo);
    font-family: "Montserrat";
    font-size: 1rem;
    grid-column: 2 / 3;
}
label {
    align-self: center;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

#como-conocido-otros {
    grid-column: 2 / 3;
}
label.top {
    align-self: flex-start;
    margin-top: 0.5rem;
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 2 / 3;
}
.form-contact button {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: var(--color-fondo);
    background-color: var(--color-activo);
    border: 1px solid var(--color-hover);
    border-radius: 3px;
    padding: 0.5rem 1rem;
    outline: none;
    transition: transform 0.15s linear;
}
@media (hover: hover) {
    .form-contact button:hover {
        background-color: var(--color-hover);
        cursor: pointer;
        transform: scale(1.07);
    }
}
button[type="reset"] {
    background-color: rgba(20,90,20,1);
    border: 1px solid rgba(30,120,30,1);
    margin-right: 1rem;
}
button[type="reset"]:hover {
    background-color: rgba(30,120,30,1);
}

option {
    min-height: 2rem;
}


/* Footer */

/* Botón ir al inicio */

body > footer {
    background-color: #090909;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    box-shadow: -2px -2px 10px var(--color-texto);
}
body > footer nav ul.inicio {
    color: black;
    position: fixed;
    bottom: 0.4rem;
    right: 0.4rem;
    z-index: 2;
    margin-top: 1rem;
}
body > footer nav ul.inicio a {
    font-size: 0.7rem;    
}

/* Redes sociales */

ul.redes-sociales {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}
ul.redes-sociales li  {
    margin: 0 0.5rem;
    list-style: none;
}
ul.redes-sociales a span, 
ul.redes-sociales .fa-linkedin,
ul.redes-sociales .fa-github,
ul.redes-sociales .fa-twitter,
ul.redes-sociales .fa-google-plus-g 
{
    font-size: 2rem;
}

ul.redes-sciales {
    color: var(--color-fondo);
}

.oculto {
    display: none;
    opacity: 0;
    transition: all 0.9s linear;
}

.active {
    background-color: var(--color-activo);
}

p.copyleft {
    font-size: small;
    color: var(--color-fondo);
    text-align: center;
    margin-top: 0;
}

/* Mensaje de Error */

.section-error-message {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.95);
    z-index: 3;
    transition: all 2s linear;
    
}
.header-error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    padding: 0.4rem 1rem;
    color: var(--color-fondo);
    background-color: rgb(243, 92, 92);
    border: 1px solid maroon;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
    opacity: 1;
    text-align: center;
}
.header-error-message h2 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-right: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.header-error-message button {
    position: absolute;
    cursor: pointer;
    top: 0.4rem;
    right: 0.5rem;
    color: maroon;
    background-color: var(--color-fondo);
    font-weight: bold;
    border: 1px solid maroon;
    padding: 0.15rem 0.3rem;
}

.error-oculto {
    display: none;
    z-index: 0;
}
.texto-error-oculto {
    opacity: 0;
}

/** Mediaquery para escritorio **/

@media screen and (min-width: 900px) {

    /* Portada */

    body > header {
        height: 3rem;
        padding-top: 0.2rem;
        width: 100%;
        background-color: var(--color-menu);
    }
    body > header  > h1 {
        font-size: 0.8rem;
    }

    /* Menú */

    .menu-principal {
        height: 3rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        box-shadow: 4px 1px 6px black;
        width: 100%;
        z-index: 1;
        color: var(--color-fondo);
        text-shadow: 2px 2px 4px black;
        opacity: 0.95;
    }
    
    .menu-principal ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0;
    }
    
    .menu-principal ul li {
        text-transform: inherit;
    }
    .menu-principal ul li a {
        right: 1rem;
        display: block;
        padding: 1rem 1rem;
        font-size: 1rem;
        font-weight: lighter;
        color: var(--color-fondo);
    }
    @media (hover: hover) {
        .menu-principal ul li a:hover {
            background-color: rgba(65, 105, 225, 0.8);
            opacity: 0.9;
            transform: scale(1.1);
        }
    }

    /* botón desplegar/replegar menú */

    .menu-icon {
        display: none;
    }

    /* wrapper de las secciones */

    #sections-wrapper {
        width: 80%;
        max-width: 800px;
    }

    /* Formulario */

    .form-contact {
        grid-gap: 0.7rem;
    }
    .form-contact button {
        padding: 0.5rem 2rem;
    }
        
}
