/* Variables */

:root {
    --color-texto: white;
}
body {
    font-family: Montserrat;
}

p {
    text-align: justify;
    line-height: 1.5rem;
}

p, h1, h2, h3 {
    margin: 10px 0px;
}

/* Cabecera */

body > header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 3.5rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    color: white;
    background-color: #222228;
    padding: 0.5rem 1rem;
    opacity: 0.98;
    margin: 0;   
    box-shadow: 1px 1px 7px #202020; 
}

body > header > h1 {
    font-weight: 100;
    line-height: 1.5rem;
}

/* Botones con iconos */

.fa-stack {
    transition: all 0.2s linear;
    color: #333339;
}

@media (hover: hover) {
    .fa-stack:hover {
        color: royalblue;
        transition: all 0.2s linear;
    }
}
.fa-stack:active {
    color: var(--color-texto);
    transition: all 0.2s linear;
}

/* Botón desplegar/replegar menú */

.menu-icon {
    position: fixed;
    right: 0.5rem;    
    top: 0.3rem;
    z-index: 2;
}

.menu-icon ul li a {
    display: block;
    font-size: 0.7rem;
    color: var(--color-texto);
}

/*** MENÚ ***************/

.menu-principal {
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: 0px;
    min-width: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: #333339;
    opacity: 0.95;
    box-shadow: 4px 4px 6px black;
    
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 4px black;

    display: flex;
    justify-content: center;


    transition: all 0.15s linear;

}

.menu-principal ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
}

.menu-principal ul li {
    text-transform: inherit;
}
.menu-principal ul li a {
    right: 1rem;
    width: 100%;
    display: block;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    color: var(--color-texto);

    transition: transform 0.15s linear;
}

@media (hover: hover) {
    .menu-principal ul li a:hover {
        background-color: rgba(65, 105, 225, 0.8);
        opacity: 0.9;
        transform: scale(1.1) translateX(0.5rem);
    }
}

.menu-visible {
    width: 45vw;
    transition: all 0.15s linear;
}


/* SECCIONES **************************************/

section {
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
}

h1.titulo {
    font-size: 2rem;
    margin: 2rem 0;
}

/* PORTADA */

section.home {
    color: white;
    height: 100vh;
    background-image: url(./assets/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section.home header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

.portada-nombre.animated {
    animation: titulo-nombre 1s linear;
    animation-fill-mode: forwards;    
}

@keyframes titulo-nombre {
    0% {
        opacity: 0;
        transform: translateY(-100vh) scale(0);
    }
    50% {
        opacity: 0.1;
        transform: translateY(-50vh) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.portada-curriculum.animated {
    animation: titulo-curriculum 1s linear;
    animation-fill-mode: forwards;    
}

@keyframes titulo-curriculum {
    0% {
        opacity: 0;
        transform: translateX(-100vw) scale(0);
    }
    50% {
        opacity: 0.1;
        transform: translate(-60vw) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

section.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    opacity: 0.2;
}

section.home h1, section.home h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 4px black;
}
section.home header h2 {
    font-size: 3rem;
}
section.home hr {
    box-shadow: 3px  2px black;
}

section header i {
    font-size: 2rem;
    float: left;
    margin-right: 15px;
}

/* Wrapper para las secciones */

#sections-wrapper {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 90%;
    max-width: 800px;
}

/* Botón ir al inicio */

body > footer {
    color: black;
    position: fixed;
    bottom: 0.4rem;
    right: 0.4rem;
    z-index: 2;
    margin-top: 1rem;
}
.btn-volver {
    font-size: 0.7rem;    
    z-index: 2;
}

/* Redes sociales */

.redes-sociales ul {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.redes-sociales ul li  {
    margin: 0 0.5rem;
}
.redes-sociales a span, 
.redes-sociales .fa-linkedin,
.redes-sociales .fa-github,
.redes-sociales .fa-twitter,
.redes-sociales .fa-google-plus-g 
{
    font-size: 2rem;
}

.oculto {
    display: none;
    opacity: 0;
    transition: all 0.9s linear;
}

.active {
    background-color: royalblue;
}

/* FORMULARIO */

.form-contact {
    display: grid;
    width: 100%;
    grid-gap: 0.8rem;
    grid-template-columns: minmax(20%, 10rem) minmax(auto, 1fr)
}
input, select, textarea {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: white;
    font-family: "Montserrat";
    font-size: 1rem;
    grid-column: 2 / 3;
}
label {
    align-self: center;
    font-size: 0.9rem;
}

#como-conocido-otros {
    grid-column: 2 / 3;
}
label.top {
    align-self: flex-start;
    margin-top: 0.5rem;
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 2 / 3;
}
.form-contact button {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: var(--color-texto);
    background-color: rgba(65, 105, 225, 0.9);
    border: 1px solid royalblue;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    outline: none;
    transition: transform 0.15s linear;
}
@media (hover: hover) {
    .form-contact button:hover {
        background-color: royalblue;
        cursor: pointer;
        transform: scale(1.07);
    }
}
button[type="reset"] {
    background-color: rgba(20,90,20,1);
    border: 1px solid rgba(30,120,30,1);
    margin-right: 1rem;
}
button[type="reset"]:hover {
    background-color: rgba(30,120,30,1);
}

option {
    min-height: 2rem;
}

@media (max-width: 900px) and (orientation: landscape) {
    .menu-oculto {
        left: 100vw;
    }
}

/* Mensaje de Error */

.section-error-message {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.9);
    z-index: 3;
    
}
.header-error-message {
    position: fixed;
    top: 5rem;
    left: 3rem;
    right: 3rem;
    padding: 0.4rem 1rem;
    color: white;
    background-color: rgb(243, 92, 92);
    border: 1px solid maroon;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
    
    transition: opacity 0.4s linear;

    opacity: 1;
}
.header-error-message h2 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-right: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.header-error-message button {
    position: absolute;
    cursor: pointer;
    top: 0.4rem;
    right: 0.5rem;
    color: maroon;
    background-color: white;
    font-weight: bold;
    border: 1px solid maroon;
    padding: 0.15rem 0.3rem;
}

.error-oculto {
    opacity: 0;
    z-index: 0;
}
.texto-error-oculto {
    opacity: 0;
    transition: opacity 0.4s linear;
}

/** Mediaquery para escritorio **/

@media screen and (min-width: 900px) {

    /* Portada */

    body > header {
        height: 3rem;
        padding-top: 0.2rem;
        width: 100%;
        background-color: #333339;
    }
    body > header  > h1 {
        font-size: 0.9rem;
    }

    /* Menú */

    .menu-principal {
        height: 3rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        box-shadow: 4px 1px 6px black;
        width: 100%;
        z-index: 1;
        color: white;
        text-shadow: 2px 2px 4px black;
        opacity: 0.95;
    }
    
    .menu-principal ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0;
    }
    
    .menu-principal ul li {
        text-transform: inherit;
    }
    .menu-principal ul li a {
        right: 1rem;
        display: block;
        padding: 1rem 1rem;
        font-size: 1rem;
        font-weight: lighter;
        color: var(--color-texto);
    }
    @media (hover: hover) {
        .menu-principal ul li a:hover {
            background-color: rgba(65, 105, 225, 0.8);
            opacity: 0.9;
            transform: scale(1.1);
        }
    }
    /* botón desplegar/replegar menú */

    .menu-icon {
        display: none;
    }

    /* wrapper de las secciones */

    #sections-wrapper {
        width: 650%;
        max-width: 700px;
    }

    /* Formulario */

    .form-contact {
        grid-gap: 0.7rem;
    }
    .form-contact button {
        padding: 0.5rem 2rem;
    }
        
}
